{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/AboutUs.css' %}">
{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col">
            <div id="home-content"></div>
            <h4>Personal details: </h4>
            <h4>Software Enginer  </h4>
            <h1>Kamil Stępniewski</h1>
            <h3>E-mail: kamil.stepniewski@outlook.com</h3>
            <h3>Phone Number : +48 501 809 121 </h3>

            <h4>Design</h4>
            <h1>Patrycja Chmielewska</h1>
            <h3>E-mail: patrycja.chmielewska98@gmail.com</h3>
            <h3>Phone Number : +48 509 484 588 </h3>
            <hr>
            
        </div>
    </div>
</div>



{% endblock %}