{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
{% endblock %}
{% block content %}
<!-- {{ block.super }} -->

<div class="container">
    <div class="row">
        <div class="col">
            <div id="home-content"></div>
            {% if request.user.is_authenticated %}
                <h1> Hello {{request.user.first_name}}  {{request.user.last_name}}</h1>
            {% endif %}   
            <h1>Made Food </h1>
            <h3>Have trouble with prepere food? You have no idea what cook ? Click
            below to spice up your diet</h3>
            <hr>
            <!-- <button type="button" class="btn btn-light btn-lg">Get Started</button> -->
            {% if request.user.is_authenticated %}
          <a class="btn btn-light btn-lg" href="{% url 'makefood:recipes' %}">Get Started</a>
          {% else %}
        <a class="btn btn-light btn-lg" href="{% url 'accounts:register' %}">Get Started</a>
        {% endif %}
        </div>
    </div>
</div>
<!--<h1>Welcome to MadeFood</h1>-->
<!--<button type="button" class="btn btn-success">Rob cos</button>-->
{% endblock %}


